<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= react_component("UserList", users: @users.includes(:department).as_json(include: :department)) %>

<br>

<%= link_to 'List of Departments', departments_path %>
