<div class="row">
  <div class="col-md-2">
    <%= link_to departments_path,
      class:"btn btn-primary btn-lg" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %><br />
  </div>

  <div class="col-md-10">
    <div class="page-header">
      <h4><%= @department.name %></h4>
    </div>

    <table class = "table table-striped">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <%= list_all_users(@department).html_safe %>
      </tbody>
    </table>
  </div>
</div>
