<h1>Newsfeed</h1>
<hr />
<%= render 'form', post: @post %>
<hr />
<div class="infinite-post">
  <%= render partial: 'posts', object: @posts %>
</div>

<div class="pagination" id="load-more-styling">
    <%= link_to_next_page(@posts, 'Load More', remote: true) %>
</div>
